@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body {
 margin: 0;
 padding: 0;
 font-size: 1.2rem;
 line-height: 1.6rem;
 background-color: rgba(255, 255, 255, 0.89);
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px; 
  background: linear-gradient(to right, #2fcfff,#2196c4,#013355 );
  color: #e4e4e4;
  font-family: "Figtree", sans-serif;
}

.text {
  padding-left: 20px; /* Adjusted */
  color: #ffffff;
  margin-top: 10px;
  margin-left: 40px;
  font-family: "Bebas Neue", cursive;
  font-size: 33px;
}

nav ul {
  margin-left: 0; /* Adjusted for proper alignment */
  list-style: none;
  padding: 0;
  margin-top: 2.5%;
  margin-left: -8%;
  display: flex;
  gap: 40px;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}

nav ul li a:hover {
  color: rgb(34, 5, 80);
}

.wrapper {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: justify;
  width: 800px;
  height: 450px;
  background: hsl(0, 0%, 100%);
  box-shadow: 2px 2px 0px 0px rgba(161, 159, 159, 0.3); 
  font-family: 'Staatliches', cursive;
  margin-top: -120px;
  padding: 0;
  box-sizing: border-box;
  margin-left: 40%;
}

.header {
  position: absolute;
  font-size: 2.875rem;
  text-decoration: none;
  top: 13%;
  left: 40%;
}

.header_home{
    margin-left: 30px;
}

.header_home a {
  color: rgb(26, 26, 26);
}

.header_home1 a{
  margin-left: 20px;
  color: rgb(26, 26, 26);
}

.header_home4 a{
  margin-left: -5px;
  color: rgb(26, 26, 26);
}

.header::after {
  content: '';
  position: absolute;
  bottom: -20px; /* Push it further down */
  left: 0;
  width: 100%;
  background: rgb(44, 44, 44);
}

.content {
  position: absolute;
  font-size: 1.525rem;
  width: 40%;
  top: 37%;
  left: 7%;
}

footer {
  color: rgb(12, 12, 12);          /* Black text color */
  padding: 20px;        /* Padding for spacing */
  text-align: center;   /* Center text */
  margin-top: 36.8%;
  font-size: 1rem;
}

.footer-content {
  max-width: 1200px;    /* Max width for content */
  margin: 0 auto; 
}

.desc {
  text-align: center;
  padding: 10px;
  margin-top: 13%;
}

.summary {
  font-family: "Figtree", sans-serif;
  text-align: justify;
  margin-top: -9%;
  padding: 55px;
  font-size: 1.02rem;
}
