@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body {
  margin: 0;
  padding: 48px 0;
  font-size: 1.2rem;
  line-height: 1.6rem;
  background-image: linear-gradient(45deg, #1c201e, #31312b);
  min-height: 100vh;
  overflow: hidden;
}

html {
  height: 100%;
  background: hsl(0, 0%, 95%);
}

header {
  font-family: "Figtree", sans-serif;
  justify-content: space-between;
  align-items: center;
  background-color: #0090a3;
  padding:6px;
  width: 100vw; 
  box-sizing: border-box;
  margin-top: -92.8px;
}

.header_home{
    font-size: 3rem;
    font-weight: bolder;
    letter-spacing: .3rem;
    margin-top: -20px;
}

.text {
  font-family: "Bebas Neue", cursive;
  margin-top: 60px;
  color: #d6d3d3;
}



nav ul {
  list-style: none;
  margin-left: 77%;
  padding: 0;
  display: flex;
  gap: 45px;
  margin-top: 30px;
}
    
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}
    
nav ul li a:hover {
  color: rgb(0, 19, 82);
}

article {
  border-radius: 16px;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  transition: transform 0.4s ease-in-out;
  height: 90%;  /* Make article full height of its container */
  width: 100%;
  margin-top: -14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

article:hover {
  transform: scale(1.05);
}

article h2 {
  margin: 16px 0;
  font-family: "Bebas Neue", cursive;
  font-size: 1.6rem;
  letter-spacing: 0.06em;
  color: #151718;
  transition: color 0.3s ease-out;
  margin-top: -10px;
  font-weight: bolder;
}

.info{
    margin-top: -10px;
    font-family: "Figtree", sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.info2{
  margin-top: -10px;
  font-family: "Figtree", sans-serif;
  font-size: 12px;
  font-style: italic;
  padding: 8px;
}

figure {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

article img {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  transition: transform 0.4s ease-in-out;
}

article:hover img {
  transform: scale(1.1);
}

.article-body {
  padding: 19x;
  text-align: center;
}

.articles {
  max-width: 1200px;
  margin: auto;
}

.article-body a {
    text-decoration: none; /* No underline */
    color: #002335;
}

.article-body a:hover {
    color: #000000; /* Change to desired hover color */
}



@media screen and (max-width: 960px) {
  .article-body p {
    display: none;
  }
}
