@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body {
  margin: 0;
  padding: 48px 0;
  font-size: 1.2rem;
  line-height: 1.6rem;
  background-image: linear-gradient(45deg, #1c201e, #31312b);
  min-height: 100vh;
  overflow: hidden;
}

html {
  height: 100%;
  background: hsl(0, 0%, 95%);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px; 
  margin-top: -4%;
  background-color: #0090a3;
  color: #e4e4e4;
  font-family: "Figtree", sans-serif;
}

.text {
  font-family: "Bebas Neue", cursive;
  padding-left: 20px; /* Adjusted */
  color: #c5c5c5; 
  margin-top: 5%;
}

.text:hover { /* Adjusted */
  color: black;
}

.logo h1 {
  margin: 0;
}

nav ul {
  margin-left: 0; /* Adjusted for proper alignment */
  list-style: none;
  padding: 0;
  margin-top: 5%;
  display: flex;
  gap: 40px;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  color: #dddddd;
  text-decoration: none;
  font-size: 16px;
}

nav ul li a:hover {
  color: black;
}


article {
  border-radius: 16px;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  transition: transform 0.4s ease-in-out;
  height: 90%;  /* Make article full height of its container */
  width: 100%;
  margin-top: -14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

article:hover {
  transform: scale(1.05);
}

article h2 {
  margin: 16px 0;
  font-family: "Bebas Neue", cursive;
  font-size: 1.6rem;
  letter-spacing: 0.06em;
  color: #151718;
  transition: color 0.3s ease-out;
  margin-top: -10px;
  font-weight: bolder;
}

.info{
    margin-top: -10px;
    font-family: "Figtree", sans-serif;
    font-size: 15px;
}

figure {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

article img {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  transition: transform 0.4s ease-in-out;
}

article:hover img {
  transform: scale(1.1);
}

.article-body {
  padding: 19x;
  text-align: center;
}

.articles {
  max-width: 1200px;
  margin: auto;
}

.article-body a {
    text-decoration: none; /* No underline */
    color: #002335;
}

.article-body a:hover {
    color: #000000; /* Change to desired hover color */
}



@media screen and (max-width: 960px) {
  .article-body p {
    display: none;
  }
}
